@media(max-width: 2560px){
    
}

@media(max-width: 1920px){
    #my-photo{
        flex-basis: 25%;
    }

    .section-box{
        margin: 0 50px;
    }
}

@media(max-width: 1600px){
    #my-photo{
        flex-basis: 30%;
    }
}

@media(max-width: 1440px){
    #my-photo{
        flex-basis: 35%;
    }

    #my-name{
        padding-top: 100px;
    }
    
    .section-box{
        margin: 0 25px;
    }
}

@media(max-width: 1280px){
    #top-section{
        justify-content: center;
        flex-direction: column;
    }

    #my-photo{
        margin: auto;
        width: 50%;
    }

    #my-name{
        margin: auto;
    }

    #bottom-section{
        flex-basis: 50%;
        flex-direction: column;
        margin: auto;
    }

    .section-box{
        flex-basis: 100%;
        margin: 50px auto;
        width: 60%;
        height: auto;
    }

    .box-title img{
        width: 5%;
        height: 5%;
    }

    #social-media{
        flex-wrap: nowrap;
    }
}

@media(max-width: 1080px){
    #my-name{
        width: 60%;
    }
}

@media(max-width: 1024px){
    
}

@media(max-width: 962px){
    
}

@media(max-width: 810px){
    
}

@media(max-width: 768px){

}

@media(max-width: 640px){
    
}

@media(max-width: 601px){
    
}

@media(max-width: 540px){
    #top-section{
        margin: 100px 0 50px 0;
    }
    
    #my-photo{
        width: 100%;
        margin: auto;
    }

    #my-name{
        width: 65%;
        margin: auto;
    }
    
    .section-box{
        margin: 50px 50px;
    }
}

@media(max-width: 425px){
    
}

@media(max-width: 375px){
    
}

@media(max-width: 320px){
    
}